$ff-primary: 'Raleway', sans-serif;
$ff-secondary: 'Roboto Condensed', sans-serif;
$ff-tertiary: 'Roboto', sans-serif;
$ff-base: 'Source Sans Pro', sans-serif;

$clr-text: #1d1f22;
$clr-white: #fff;
$clr-grey-faint: #f5f5f5;
$clr-grey-light: #ccc;
$clr-primary: #5ece7b;
$clr-text-medium: #292929;
$clr-success: #439759;
$clr-failure: rgb(235, 85, 85);

$hover-clr: #eee;
$box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

$container-width: min(90%, 70.5rem);
$container-margin: auto;