$popup-width:  30rem;
$popup-button-width: 15rem;
$popup-button-height: 3rem;

.Popup {
    width: $popup-width;
    padding: 1.25rem;
    background-color: var(--clr-white);
    box-shadow: var(--box-shadow);
    border-radius: 0.125rem;

    &-Message {
        font-family: var(--ff-primary);
        color: var(--clr-text);
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 2rem;
    }

    &-Buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-Cancel {
        width: $popup-button-width;
        height: $popup-button-height;

        &:hover {
            filter: opacity(0.5);
        }
    }

    &-Delete {
        width: $popup-button-width;
        height: $popup-button-height;
        background-color: var(--clr-failure) !important;

        &:hover {
            filter: opacity(0.5);
        }
    }
}
