.ProductListPage {
    &-TitleWrapper{
        padding-top: 5rem;
        padding-bottom: 3.4375rem;
    }

    &-Title {
        font-family: var(--ff-primary);
        font-style: normal;
        font-weight: 400;
        font-size: 2.625rem;
        color: var(--clr-text);
        text-transform: capitalize;
    }

    &-TitleSkeleton {
        width: 5rem;
        height: 2.5rem;
        background-color: var(--clr-grey-light);
        animation: skeleton ease 500ms infinite alternate;
    }

    &-CardContainerSkeleton {
        margin-top: 1.25rem;
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
        margin-left: 1.25rem;
        width: var(--product-card-width);
        height: var(--product-card-height);
        background-color: var(--clr-grey-light);
        animation: skeleton ease 500ms infinite alternate;
    }

    &-List {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3.125rem;
        transition: all 1s linear;
    }
}

@keyframes skeleton {
    to {
        opacity: 0.5;
    }
}